@model IEnumerable<WebBanHang.Models.ApplicationUser>

@{
    ViewBag.Title = "UserQL";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


    <p style="text-align:center; background-color:wheat; border-radius">
        <strong>
            @Html.ActionLink("Tạo tài khoản khách hàng", "CreateKH")
            @Html.ActionLink("Tạo tài khoản ADMIN", "CreateAD")
        </strong>
       
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
               
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
