@model IEnumerable<WebBanHang.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodeCus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email_Cus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address_Cus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone_Cus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodeCus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email_Cus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address_Cus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone_Cus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDCus }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDCus }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDCus })
        </td>
    </tr>
}

</table>
